span {
  margin: 0 50% 0 0;
  color: #e7e4e3;
  font-size: larger;

  a {
    text-decoration: none;
    color: #e7e4e3;
  }
}

ul {
  display: flex;
  color: #e7e4e3;

  li {
    margin: 0 0 0 10px;
    list-style-type: none;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #e7e4e3;
    }
  }
}
